<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
</head>

<body>
    <h2>Setting - Ubah Username</h2>
    <form method="POST">
        <input name="username" value="<%= username %>">
        <button>Update</button>
    </form>
    <a href="/dashboard">Kembali</a>

</body>

</html>